<p>

<% if session[:showattrition]==false %>
  <h5>
  <button type="button" class="btn btn-default btn-xs">
  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> Attrition</h5>

<% else %>
  <h4>
  <button type="button" class="btn btn-default btn-xs">
  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> Attrition</h5>
  <hr>

<% end %>
