
<%= form_for notes, remote: true, html: { class: "form-inline", style: "display:inline;" } do |f| %>

  <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
   <div class="form-group form-group-sm">

    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Add a meeting note">
  </div>  
  <div class="form-group form-group-sm">
    <label for="exampleInputName2">notetype</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group form-group-sm">
    <label for="exampleInputEmail2">notetag</label>
    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
	<div class="form-group form-group-sm">
    <label for="exampleInputEmail2">assignedto</label>
    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <div class="form-group form-group-sm">
    <label for="exampleInputEmail2">duedate</label>
    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>

<% end %>

