<%= form_tag('/continue', remote: true, html: { class: "form-horizontal", style: "display:inline;" }) do %>
  <div class="modal-body">
    <ul class="errors"></ul>

    <%= @fcs.find_by_id(1) %>

  </div>
  <div class="modal-footer">
    
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>
