<title>UK PPT Meeting Tracker</title>

<div class="container">

<div class="row">

<div class="col-lg-12">

<div class="jumbotron">
  <h1>PPT Meeting Tracker</h1>
  <p>Welcome to the PPT Meeting Tracker. This is a tool to capture actions from the various labour planning meetings that occur across each of the UK FCs each week.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Start a meeting</a></p>
</div>

<hr>

<% if !flash[:error].nil? %>

  <div class="alert alert-danger">

    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    <%= flash[:error] %>

  </div>

<% end %>

<% if flash[:success] %>

  <div class="alert alert-success">

    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    <%= flash[:success] %>

  </div>

<% end %>

</div> <!-- span12 -->

</div> <!-- row -->

</div> <!-- container -->
