<div id="modal-comments">

<% if comments.count == 0 %>

<h5>No comments, add some below.</h5>

<% else %>

<dl>

	<% comments.each do |c| %>

	<dt><small><%= c.enteredby %> at <%= c.created_at.asctime %></small></dt>
	<dd><%= c.comment %></dd>	
  
	<% end %>

</dl>

<% end %>

</div>
